In [6]:
import pandas as pd
import numpy as np

In [2]:
df_empty = pd.DataFrame({'A' : []})

In [3]:
df_empty

Empty DataFrame
Columns: [A]
Index: []

In [4]:
df_empty.empty

True

In [7]:
df = pd.DataFrame({'A' : [np.nan]})

In [8]:
df

    A
0 NaN

In [9]:
df.empty

False

In [10]:
df.dropna().empty

True

In [11]:
ser_empty = pd.Series({'A' : []})

In [12]:
ser_empty

A    []
dtype: object

In [13]:
ser_empty.empty

False

In [14]:
ser_empty = pd.Series()

C:\Users\German\AppData\Local\Temp/ipykernel_5220/576681966.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser_empty = pd.Series()

In [15]:
ser_empty.empty

True